<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PP01.jpg" class="image-fluid" id="fotoPerfil">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Adriel Barria</p>
        <p id="titulo">Full Stack Developer Jr</p>
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 border border-dark rounded start"> 
        <span>
            <h3>Acerca de</h3>
            <p>a?</p>
        </span>

    </div>
</div>
