<div class="row border border-dark rounded start">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
></circle-progress>
    </div>
</div>