<div class="row border border-dark rounded start">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/HTML5Logo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/CSSLogo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/JSLogo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/EnglishLog.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [unitsFontSize]="'25'"
        [titleFontSize]="'35'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        [renderOnClick]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/ResolucionProbLog.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
></circle-progress>
    </div>
    
</div>