<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo02.png" id="logoAr">
            

        </div>
        <div class="socialNets">
            <a href="https://github.com/adrielba" target="_blank"><img src="../../../assets/githubLogo02.png" id="github"></a>
            <a href="https://www.facebook.com/adriel.barria1" target="_blank"><img src="../../../assets/facebookLogo02.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>
    </div>
</div>
